$product-img-size: 135px;
$spacer: 0;
$white: 'white';
$gray-300: 'gray';

body {
  overflow-y: auto;
}

.hidden {
  display: none !important;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

#view {
  overflow: unset;
  height: unset;
}

#modal {
  &.show {
    opacity: 1;

    .modal-dialog {
      margin: 0;
      max-width: unset;
    }

    .modal-content {
      width: 100vw;
    }

    .modal-header {
      .modal-title {
        font-size: 20px;
        min-height: 30px;
      }

      .close {
        .material-icons {
          font-size: 30px;
        }
      }
    }

    .modal-body {
      padding: 0;
      height: calc(100vh - 63px);
      overflow: auto;
    }
  }

  &.fade {
    .modal-dialog {
      transform: unset;
    }

    &.hide {
      opacity: 0;
    }
  }

  &.slideLeft, &.slideUp {
    overflow: hidden;
    transition: none;

    .modal-dialog {
      transition: transform 0.4s ease-out;
    }

    &.show .modal-dialog {
      margin: 0;
      transform: none;
    }

    &.hide .modal-dialog {
      transition: transform 0.6s ease-out;
    }
  }

  &.slideLeft {
    .modal-dialog {
      transform: translate(100vh, 0);
    }

    &.hide .modal-dialog {
      transform: translate(100vh, 0);
    }
  }

  &.slideUp {
    .modal-dialog {
      transform: translate(0, 100vh);
    }

    &.hide .modal-dialog {
      transform: translate(0, 100vh);
    }
  }

  ~ .modal-backdrop {
    opacity: 0;
  }
}

.nav {
  flex-wrap: unset;
  overflow: auto;

  .nav-item {
    a {
      width: max-content;

      &:not(href) {
        color: black;

        &:hover {
          color: #636363;
        }
      }
    }
  }
}

ol, ul, dl {
  &.tab-pane {
    padding: 0;
  }

  margin-bottom: 0;
}

.receipt {
  height: 100%;

  table.orders {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: calc(100vh - 115px);
    width: 100%;
    margin: 27px 0;
    font-size: 13px;

    tr {
      td, th {
        height: 40px;

        &:not(:first-child) {
          border-left: 1px solid gray;
        }
      }

      &:not(.empty) {
        td, th {
          border-bottom: 1px solid gray;
        }
      }

      &.empty:last-child {
        border-bottom: 1px solid gray;
      }
    }

    tfoot th {
      &:not(:first-child) {
        border-left: 1px solid gray;
        text-align: right;
      }
    }
  }
}

.product {
  div {
    &.banner {
      height: (100vh / 4);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  img {
    &.banner {
      width: 100%;
      max-height: 200px;
    }

    &.thumbnail {
      max-height: $product-img-size;
      max-width: $product-img-size;
    }
  }

  margin-bottom: $spacer;

  .product-description {
    min-height: $product-img-size - 100px;
    font-size: 12px;
  }

  button {
    &.btn-block {
      position: absolute;
      bottom: 15px;
      left: 15px;
      right: 15px;
      width: calc(100% - 30px);
    }
  }
}

.btn {
  &.btn-xs {
    font-size: 0.675rem;
    padding: 0.25rem;
  }
}

.tab-content {
  min-height: calc(((#{$product-img-size} + #{$spacer}) * 4) + #{$spacer} - 24px);
  max-height: calc(100vh - 130px);
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-tabs {
  border-bottom: unset;

  .nav-link {
    border-bottom-width: 3px;

    &.active, &:hover {
      border-color: $white $white $gray-300;
    }
  }
}

.app-footer:not(.hide) ~ .app-body {
  padding-bottom: unset;
}
