#inicio {
  p {
    margin: 0;
  }

  #nav_menu-2 {
    @media (min-width: 921px) {
      width: calc(100vw - 18.5em);

      #menu-custom-menu {
        justify-content: left;
        margin-left: 35px;
      }
    }
  }
}
