#intro {
  header#qodef-page-header {
    display: none;
  }

  footer#qodef-page-footer {
    display: none;
  }

  #video {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    min-width: 100%;
    min-height: 100%;
    z-index: 9999999;
    background-color: black;
  }

  #saltar-intro {
    position: fixed;
    width: 200px;
    padding: 10px;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    border: none;
    background: #ffffff;
    color: #000000;
    cursor: pointer;
    z-index: 99999999;
  }
}
