#view.mixologia {
  @media (max-width: 480px) {
    rs-layer:not(.rs-wtbindex),
    .rs-layer:not(.rs-wtbindex) {
      font-size: 34px !important;
    }
  }

  rs-module rs-mask-wrap .rs-layer,
  rs-module rs-mask-wrap *:last-child,
  .wpb_text_column rs-module rs-mask-wrap .rs-layer,
  .wpb_text_column rs-module rs-mask-wrap *:last-child {
  }
}
