$primary: #C89C33;

html {
  @media only screen and (max-width: 680px) {
    .qodef-page-title .qodef-m-title {
      font-size: 34px !important;
    }
  }

  #qodef-page-footer .widget.widget_text img {
    max-height: 170px;
    margin: auto;
  }

  header#qodef-page-mobile-header {
    background-color: white;

    .qodef-mobile-header-opener svg line {
      stroke: black;
    }
  }

  div.qodef-mobile-header-navigation {
    background-color: black;
  }

  div.qodef-mobile-header-navigation > ul > li > a {
    color: white;
  }

  .qodef-h1 a:hover, h1 a:hover, .qodef-h2 a:hover, h2 a:hover, .qodef-h3 a:hover, h3 a:hover, .qodef-h4 a:hover, h4 a:hover, .qodef-h5 a:hover, h5 a:hover, .qodef-h6 a:hover, h6 a:hover, a:hover, p a:hover, #qodef-page-header .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-item-toggle:hover, #qodef-page-header .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-item-toggle:hover, #qodef-page-header .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-item a:hover, #qodef-page-header .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu .wpml-ls-item a:hover, #qodef-page-header .widget_icl_lang_sel_widget .wpml-ls-legacy-list-horizontal ul li a:hover, #qodef-page-header .widget_icl_lang_sel_widget .wpml-ls-legacy-list-vertical ul li a:hover, #qodef-page-mobile-header .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-item-toggle:hover, #qodef-page-mobile-header .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-item-toggle:hover, #qodef-page-mobile-header .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-item a:hover, #qodef-page-mobile-header .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu .wpml-ls-item a:hover, #qodef-page-mobile-header .widget_icl_lang_sel_widget .wpml-ls-legacy-list-horizontal ul li a:hover, #qodef-page-mobile-header .widget_icl_lang_sel_widget .wpml-ls-legacy-list-vertical ul li a:hover, #qodef-page-sidebar .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-item-toggle:hover, #qodef-page-sidebar .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-item-toggle:hover, #qodef-page-sidebar .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-item a:hover, #qodef-page-sidebar .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu .wpml-ls-item a:hover, #qodef-page-sidebar .widget_icl_lang_sel_widget .wpml-ls-legacy-list-horizontal ul li a:hover, #qodef-page-sidebar .widget_icl_lang_sel_widget .wpml-ls-legacy-list-vertical ul li a:hover, #qodef-page-footer .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-item-toggle:hover, #qodef-page-footer .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-item-toggle:hover, #qodef-page-footer .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-item a:hover, #qodef-page-footer .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu .wpml-ls-item a:hover, #qodef-side-area .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-item-toggle:hover, #qodef-side-area .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-item-toggle:hover, #qodef-side-area .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-item a:hover, #qodef-side-area .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu .wpml-ls-item a:hover, .qodef-blog .qodef-blog-item .qodef-e-info .qodef-e-info-item a:hover, .qodef-blog .qodef-blog-item .qodef-e-info.qodef-info--top, .qodef-blog .qodef-blog-item.format-link .qodef-e-link > span, .qodef-blog .qodef-blog-item.format-quote .qodef-e-quote .qodef-e-quotes-sign, .qodef-blog.qodef--single article .qodef-e-info.qodef-info--top, #qodef-page-footer .widget.widget_text a:hover, #qodef-side-area .widget.widget_text a:hover, .wp-block-archives li a:hover, .wp-block-categories li a:hover, .wp-block-latest-posts li a:hover, .wp-block-rss li a:hover, .qodef-mobile-header-navigation > ul > li > a:hover, .qodef-mobile-header-navigation > ul > li.current-menu-ancestor > a, .qodef-mobile-header-navigation > ul > li.current-menu-item > a, .qodef-mobile-header-navigation .qodef-drop-down-second-inner ul li > a:hover, .qodef-mobile-header-navigation .qodef-drop-down-second-inner ul li.current-menu-ancestor > a, .qodef-mobile-header-navigation .qodef-drop-down-second-inner ul li.current-menu-item > a, .qodef-header-navigation > ul > li.current-menu-item > a, .qodef-header-navigation > ul > li.qodef-menu-item--narrow ul:not(.qodef-drop-down--right) li.current-menu-ancestor > a, .qodef-header-navigation > ul > li.qodef-menu-item--narrow ul:not(.qodef-drop-down--right) li.current-menu-item > a, .qodef-header-navigation > ul > li.qodef-menu-item--narrow ul:not(.qodef-drop-down--right) li:hover > a, .qodef-header-navigation > ul > li.qodef-menu-item--narrow ul.qodef-drop-down--right li.current-menu-ancestor > a, .qodef-header-navigation > ul > li.qodef-menu-item--narrow ul.qodef-drop-down--right li.current-menu-item > a, .qodef-header-navigation > ul > li.qodef-menu-item--narrow ul.qodef-drop-down--right li:hover > a, .qodef-m-pagination.qodef--wp .page-numbers.current, .qodef-m-pagination.qodef--wp .page-numbers:hover, .qodef-m-pagination.qodef--standard .qodef-m-pagination-item.qodef--active, .qodef-m-pagination.qodef--standard .qodef-m-pagination-item:hover, .qodef-m-pagination.qodef--standard .qodef-m-pagination-item.qodef--active a, .qodef-m-pagination.qodef--standard .qodef-m-pagination-item:hover a, .qodef-m-pagination.qodef--infinite-scroll .qodef-infinite-scroll-spinner, .qodef-pagination--on.qodef-pagination-type--load-more .qodef-loading-spinner, .qodef-single-links > span:not(.qodef-m-single-links-title), .qodef-search .qodef-search-form .qodef-search-form-button:hover, .widget .qodef-widget-title a:hover, .widget a:hover, .widget.widget_categories ul li, .widget.widget_categories ul li a, .widget.widget_calendar tfoot a:hover, .widget.widget_tag_cloud .tagcloud a:hover, #qodef-top-area .widget .qodef-widget-title a:hover, #qodef-top-area .widget a:hover, #qodef-top-area .widget.widget_categories ul li, #qodef-top-area .widget.widget_categories ul li a, #qodef-top-area .widget.widget_calendar tfoot a:hover, #qodef-top-area .widget.widget_tag_cloud .tagcloud a:hover, #qodef-page-footer .widget.widget_categories ul li, #qodef-page-footer .widget.widget_categories ul li a, #qodef-side-area .widget .qodef-widget-title a:hover, #qodef-side-area .widget a:hover, #qodef-side-area .widget.widget_categories ul li, #qodef-side-area .widget.widget_categories ul li a, #qodef-side-area .widget.widget_calendar tfoot a:hover, #qodef-side-area .widget.widget_tag_cloud .tagcloud a:hover, .qodef-mega-menu-widget-holder .widget .qodef-widget-title a:hover, .qodef-mega-menu-widget-holder .widget a:hover, .qodef-mega-menu-widget-holder .widget.widget_categories ul li, .qodef-mega-menu-widget-holder .widget.widget_categories ul li a, .qodef-mega-menu-widget-holder .widget.widget_calendar tfoot a:hover, .qodef-mega-menu-widget-holder .widget.widget_tag_cloud .tagcloud a:hover, #qodef-woo-page .qodef-woo-ratings .qodef-m-star, #yith-quick-view-modal .qodef-woo-ratings .qodef-m-star, .qodef-woo-shortcode .qodef-woo-ratings .qodef-m-star, .woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a, #qodef-woo-page .woocommerce-pagination .page-numbers.current, #qodef-woo-page .woocommerce-pagination .page-numbers:hover, .qodef-woo-product-list .qodef-woo-product-inner:hover .qodef-woo-product-title, .qodef-woo-product-list .qodef-woo-product-wishlist-holder .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse span i:before, .qodef-woo-product-list .qodef-woo-product-wishlist-holder .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse span i:before, #qodef-woo-page.qodef--single .product_meta .posted_in .qodef-woo-meta-value, #yith-quick-view-modal.qodef--single .product_meta .posted_in .qodef-woo-meta-value, #qodef-woo-page.qodef--single .product_meta .posted_in .qodef-woo-meta-value a, #yith-quick-view-modal.qodef--single .product_meta .posted_in .qodef-woo-meta-value a, #qodef-woo-page.qodef--single #review_form .comment-form-rating a.active:after, #yith-quick-view-modal.qodef--single #review_form .comment-form-rating a.active:after, .widget.woocommerce .qodef-woo-ratings .qodef-m-star, .widget.widget_layered_nav ul li.chosen a, .widget.widget_product_categories ul li, .widget.widget_product_categories ul li a, .widget.widget_product_tag_cloud .tagcloud a:hover, .widget.widget_products .qodef-woo-product-title a:hover, .widget.widget_recently_viewed_products .qodef-woo-product-title a:hover, .widget.widget_top_rated_products .qodef-woo-product-title a:hover, .widget.widget_recent_reviews a:hover, #qodef-page-footer .widget.widget_layered_nav ul li.chosen a, #qodef-page-footer .widget.widget_product_categories ul li, #qodef-page-footer .widget.widget_product_categories ul li a, #qodef-page-footer .widget.widget_product_tag_cloud .tagcloud a:hover, #qodef-page-footer .widget.widget_products .qodef-woo-product-title a:hover, #qodef-page-footer .widget.widget_recently_viewed_products .qodef-woo-product-title a:hover, #qodef-page-footer .widget.widget_top_rated_products .qodef-woo-product-title a:hover, #qodef-page-footer .widget.widget_recent_reviews a:hover, .qodef-caption-text, section .qodef-row-background-text .qodef-row-background-text-inner, #qodef-page-footer .qodef-veritcal-menu-style a:hover, #qodef-age-verification-modal .qodef-m-content-subtitle, .qodef-blog.qodef-item-layout--standard.qodef-col-num--1 article .qodef-e-info.qodef-info--top, .qodef-blog.qodef-item-layout--standard.qodef-col-num--1 article.format-link .qodef-e-link > span, .qodef-blog.qodef-item-layout--standard.qodef-col-num--1 article.format-quote .qodef-e-quote .qodef-e-quotes-sign, .qodef-fullscreen-menu > ul > li > a:hover, .qodef-fullscreen-menu > ul > li.current-menu-ancestor > a, .qodef-fullscreen-menu > ul > li.current-menu-item > a, .qodef-header--vertical-sliding .qodef-header-vertical-sliding-navigation > ul > li.current-menu-ancestor > a, .qodef-header--vertical-sliding .qodef-header-vertical-sliding-navigation > ul > li.current-menu-item > a, .qodef-header--vertical .qodef-header-vertical-navigation > ul > li > a:hover, .qodef-header--vertical .qodef-header-vertical-navigation > ul > li.current-menu-ancestor > a, .qodef-header--vertical .qodef-header-vertical-navigation > ul > li.current-menu-item > a, #qodef-multiple-map-notice, .qodef-map-marker-holder .qodef-info-window-inner .qodef-info-window-link:hover ~ .qodef-info-window-details .qodef-info-window-title, .qodef-header-navigation ul li.qodef-menu-item--wide .qodef-drop-down-second-inner > ul > li > a:hover, .qodef-header-navigation ul li.qodef-menu-item--wide .qodef-drop-down-second-inner > ul > li ul li.current-menu-item > a, .qodef-header-navigation ul li.qodef-menu-item--wide .qodef-drop-down-second-inner > ul > li ul li:hover > a, .qodef-header-navigation ul li.qodef-menu-item--wide .qodef-drop-down-second-inner > ul > li.current-menu-ancestor > a, .qodef-header-navigation ul li.qodef-menu-item--wide .qodef-drop-down-second-inner > ul > li.current-menu-item > a, .qodef-header-navigation ul li.qodef-menu-item--wide .qodef-drop-down-second-inner > ul > li.qodef--hide-link:not(.current-menu-ancestor):not(.current-menu-item) > a:hover, #qodef-top-area .qodef-woo-dropdown-cart .qodef-woo-dropdown-items a:hover, .qodef-reservation-form .qodef-m-field-label .qodef-m-label, .qodef-reservation-form .qodef-m-icon, .qodef-restaurant-menu-list.qodef-item-skin--light .qodef-e-description, .qodef-reviews-per-criteria .qodef-item-reviews-average-rating, .qodef-fullscreen-search-holder .qodef-m-form-submit:hover, .qodef-accordion.qodef-layout--simple .qodef-accordion-title .qodef-accordion-mark span.qodef-icon--minus, .qodef-accordion.qodef-layout--simple .qodef-accordion-title.ui-state-hover .qodef-accordion-mark span.qodef-icon--plus, .qodef-author-pagination--on.qodef-pagination-type--load-more .qodef-loading-spinner, .qodef-banner .qodef-m-text-field, .qodef-item-showcase .qodef-e-title-link:hover, .qodef-section-title .qodef-m-caption, .qodef-stamp, .qodef-stamp .qodef-m-centered-text, .qodef-workflow .qodef-e-subtitle, #qodef-page-spinner .qodef-m-inner, .qodef-wishlist .qodef-m-link.qodef--added, #qodef-top-area .qodef-wishlist-dropdown .qodef-m-link-icon, .qodef-working-hours-list .qodef-e-day-icon, .qodef-working-hours-list .qodef-e-time.qodef--closed, .qodef-working-hours-list .qodef-m-footer-icon, #qodef-membership-login-modal-part .qodef-m-links-register a:hover, #qodef-membership-login-modal-part .qodef-m-links-reset-password a:hover, .qodef-login-opener-widget .qodef-m-user:hover .qodef-login-opener-icon, .qodef-login-opener-widget .qodef-m-user:hover .qodef-m-user-name, .qodef-login-opener-widget .qodef-logged-in-user .qodef-m-navigation-item .qodef-e-link .qodef-e-label:hover, #qodef-fullscreen-area .qodef-widget-holder .textwidget a:hover, #qodef-fullscreen-area .qodef-widget-holder .textwidget a:hover span, #qodef-page-header .qodef-header-sticky .qodef-widget-holder > div .qodef-login-opener-widget .qodef-login-opener:hover .qodef-login-opener-text, #qodef-page-header .qodef-header-sticky .qodef-widget-holder > div .qodef-login-opener-widget .qodef-login-opener:hover span, .qodef-icon-holder.qodef-layout--circle .qodef-svg-circle {
    color: $primary;
  }

  .qodef-newsletter-form {
    border-color: rgba($primary, 0.4)
  }

  .qodef-contact-form-simple .qodef-contact-form-simple-submit button, .qodef-contact-form-simple .qodef-contact-form-simple-submit button:hover, body div.wpcf7-mail-sent-ok, .wp-block-button.is-style-outline .wp-block-button__link, .wp-block-button.is-style-outline .wp-block-button__link:hover, .single-product #qodef-woo-page .qodef-woo-single-inner .added_to_cart, .single-product #qodef-woo-page .qodef-woo-single-inner .button, .single-product #yith-quick-view-modal .qodef-woo-single-inner .added_to_cart, .single-product #yith-quick-view-modal .qodef-woo-single-inner .button, .single-product .qodef-woo-shortcode .qodef-woo-single-inner .added_to_cart, .single-product .qodef-woo-shortcode .qodef-woo-single-inner .button, #yith-quick-view-modal.open .yith-wcqv-main .entry-summary .summary-content .single_add_to_cart_button, .widget.woocommerce .button, .widget.woocommerce .button:hover, .qodef-social-share-style:hover, #qodef-back-to-top .qodef-back-to-top-icon, #qodef-author-info .qodef-m-social-icons a:hover, .qodef-woo-side-area-cart .qodef-m-action-link, .qodef-woo-side-area-cart .qodef-m-action-link:hover, .qodef-reservation-form .qodef-m-field button:hover, .qodef-button.qodef-layout--outlined, .qodef-button.qodef-layout--outlined:hover, .qodef-intensity .qodef-m-intensity > span, .qodef-round-label .qodef-m-number, .qodef-video-button svg, .qodef-social-share.qodef-layout--list li:hover, .qodef-social-icons-group .qodef-icon-holder:hover, #yith-quick-view-modal.open .yith-wcqv-main .entry-summary .summary-content .single_add_to_cart_button:hover {
    border-color: $primary;
  }

  .qodef-theme-button, button[type=submit], input[type=submit], .qodef-contact-form-simple .qodef-contact-form-simple-submit button:hover, .swiper-pagination-bullets .swiper-pagination-bullet, #qodef-page-footer-top-area .menu li a:before, .wp-block-button .wp-block-button__link, .wp-block-button.is-style-outline .wp-block-button__link:hover, .wp-block-file .wp-block-file__button, .has-primary-background-color, .qodef-mobile-header-navigation .qodef-drop-down-second-inner ul li > a:before, .qodef-header-navigation > ul > li > a .qodef-menu-item-text:after, .qodef-header-navigation > ul > li.qodef-menu-item--narrow ul:not(.qodef-drop-down--right) li > a:before, .qodef-header-navigation > ul > li.qodef-menu-item--narrow ul.qodef-drop-down--right li > a:before, .widget.widget_calendar #today, #qodef-top-area .widget.widget_calendar #today, #qodef-side-area .widget.widget_calendar #today, .qodef-mega-menu-widget-holder .widget.widget_calendar #today, #qodef-woo-page .qodef-woo-product-mark, #yith-quick-view-modal .qodef-woo-product-mark, .qodef-woo-shortcode .qodef-woo-product-mark, #qodef-woo-page .added_to_cart, #qodef-woo-page .button, #yith-quick-view-modal .added_to_cart, #yith-quick-view-modal .button, .qodef-woo-shortcode .added_to_cart, .qodef-woo-shortcode .button, .woocommerce-page div.woocommerce > .return-to-shop a, .woocommerce-account .button, .widget.woocommerce .button:hover, .widget.widget_price_filter .price_slider_wrapper .ui-widget-content .ui-slider-handle, .widget.widget_price_filter .price_slider_wrapper .ui-widget-content .ui-slider-range, #qodef-page-footer .widget.widget_price_filter .price_slider_wrapper .ui-widget-content .ui-slider-handle, #qodef-page-footer .widget.widget_price_filter .price_slider_wrapper .ui-widget-content .ui-slider-range, .wishlist_table.mobile > li .additional-info-wrapper .product-add-to-cart a, #yith-wcwl-form .shop_table td.product-add-to-cart a, #qodef-back-to-top .qodef-back-to-top-icon, .qodef-header--vertical-sliding .qodef-header-vertical-sliding-navigation > ul > li > a .qodef-menu-item-text:after, .qodef-header--vertical-sliding .qodef-header-vertical-sliding-navigation > ul > li .qodef-drop-down-second-inner ul li > a:before, .qodef-header--vertical .qodef-header-vertical-navigation > ul > li .qodef-drop-down-second-inner ul li > a:before, .qodef-places-geo-radius .noUi-target .noUi-connect, .qodef-places-geo-radius .noUi-target .noUi-handle, .qodef-header-navigation ul li.qodef-menu-item--wide .qodef-drop-down-second-inner > ul > li ul li > a:before, .qodef-woo-dropdown-cart .qodef-m-action-link, .qodef-woo-side-area-cart .qodef-m-opener-count, .qodef-woo-side-area-cart .qodef-m-action-link:hover, .qodef-follow-info-holder .qodef-follow-info-title, .qodef-follow-info-holder .qodef-follow-info-category, .qodef-reservation-form .qodef-m-field button:hover, .qodef-testimonials-list .swiper-pagination-bullets .swiper-pagination-bullet:before, .qodef-button.qodef-layout--filled.qodef-html--link, .qodef-button.qodef-layout--outlined:hover, .qodef-icon-holder.qodef-layout--square, .qodef-roadmap .qodef-e .qodef-e-circle, #multiscroll-nav a.active span, .qodef-video-button svg:hover, .qodef-workflow .qodef-e-workflow-item-inner:after, #qodef-page-spinner.qodef-layout--progress-bar .qodef-m-spinner-line-front, #yith-quick-view-modal.open .yith-wcqv-main .entry-summary .summary-content .single_add_to_cart_button:hover {
    background-color: $primary;
  }
}
